################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataStructuresUsingCSharp/bin
/DataStructuresUsingCSharp/obj
